<a href="https://colab.research.google.com/github/eliahanna/CityFruit/blob/master/City_Fruit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

## Key Links

*   [Original Data Source](https://data-seattlecitygis.opendata.arcgis.com/datasets/trees)
*   [Data Dictionary]( https://www.seattle.gov/Documents/Departments/SDOT/GIS/Trees_OD.pdf)

In [0]:
trees = pd.read_csv("https://raw.githubusercontent.com/eliahanna/CityFruit/master/Data/Trees.csv", low_memory=False)

In [7]:
trees.head()

            X          Y  OBJECTID  ...  TOTAL_COUNT    GENUS UFMAINTMGMTUNIT
0 -122.282080  47.635207      1001  ...       4242.0   Betula             NaN
1 -122.310243  47.597548      1003  ...       6723.0  Quercus             NaN
2 -122.355204  47.673916      1004  ...       8607.0    Malus             NaN
3 -122.318952  47.649141      1006  ...      28325.0   Prunus             NaN
4 -122.344731  47.613092      1007  ...      35552.0     Acer             NaN

[5 rows x 57 columns]

In [0]:
trees.shape

(165545, 57)

In [0]:
trees['OBJECTID'].nunique()

94899

In [0]:
trees['UNITID'].nunique()

94899

In [0]:
trees['COMPKEY'].nunique()

94899

In [0]:
trees['UNITDESC'].value_counts()

500 BROAD ST        95
500 5TH AV          92
200 MERCER ST       92
222 2ND AV          82
223 2ND AV          77
                    ..
459 ROY ST           1
1402 NW 57TH ST      1
227 NW 41ST ST       1
5431 40TH AVE SW     1
1046 1ST AV S        1
Name: UNITDESC, Length: 42084, dtype: int64

In [0]:
trees['CONDITION'].value_counts()

        94897
GOOD        1
FAIR        1
Name: CONDITION, dtype: int64

In [0]:
trees['CONDITION_ASSESSMENT_DATE'].value_counts()

2016-02-01T00:00:00.000Z    61
2019-10-02T00:00:00.000Z    51
2016-01-28T00:00:00.000Z    50
2016-01-20T00:00:00.000Z    46
2016-02-05T00:00:00.000Z    46
2016-02-02T00:00:00.000Z    44
2016-01-27T00:00:00.000Z    38
2016-02-18T00:00:00.000Z    38
2016-03-16T00:00:00.000Z    35
2015-12-10T00:00:00.000Z    30
2016-01-25T00:00:00.000Z    21
2015-12-11T00:00:00.000Z    17
2016-01-22T00:00:00.000Z    15
2016-03-30T00:00:00.000Z    12
2016-01-29T00:00:00.000Z    10
2016-02-08T00:00:00.000Z    10
2016-04-13T00:00:00.000Z     9
2016-08-09T00:00:00.000Z     8
2016-06-06T00:00:00.000Z     7
2016-08-04T00:00:00.000Z     4
2016-03-18T00:00:00.000Z     4
2016-01-11T00:00:00.000Z     3
2016-02-10T00:00:00.000Z     3
2016-01-07T00:00:00.000Z     3
2015-12-03T00:00:00.000Z     2
2015-12-06T00:00:00.000Z     2
2018-08-24T00:00:00.000Z     1
2015-12-22T00:00:00.000Z     1
2015-09-18T00:00:00.000Z     1
2015-12-02T00:00:00.000Z     1
2016-02-12T00:00:00.000Z     1
2019-09-03T00:00:00.000Z     1
2015-09-29T00:00:00.000Z     1
2018-06-26T00:00:00.000Z     1
2019-08-21T00:00:00.000Z     1
2018-10-01T00:00:00.000Z     1
2015-09-19T00:00:00.000Z     1
2016-01-08T00:00:00.000Z     1
2016-05-05T00:00:00.000Z     1
2019-08-20T00:00:00.000Z     1
2015-09-22T00:00:00.000Z     1
2016-05-25T00:00:00.000Z     1
2015-12-07T00:00:00.000Z     1
2014-02-04T00:00:00.000Z     1
Name: CONDITION_ASSESSMENT_DATE, dtype: int64

In [0]:
trees['CURRENT_STATUS'].value_counts()

INSVC    94899
Name: CURRENT_STATUS, dtype: int64

In [0]:
trees['PRIMARYDISTRICTCD'].value_counts()

DISTRICT3    18033
DISTRICT1    16393
DISTRICT4    14592
DISTRICT6    14258
DISTRICT7    13888
DISTRICT2    11983
DISTRICT5     5752
Name: PRIMARYDISTRICTCD, dtype: int64

In [0]:
trees['SECONDARYDISTRICTCD'].value_counts()

             94015
DISTRICT4      227
DISTRICT6      201
DISTRICT2      184
DISTRICT3      164
DISTRICT7       69
DISTRICT5       39
Name: SECONDARYDISTRICTCD, dtype: int64

In [0]:
trees['OVERRIDEYN'].value_counts()

N    94899
Name: OVERRIDEYN, dtype: int64

In [0]:
trees['COMPTYPE'].value_counts()

36    94899
Name: COMPTYPE, dtype: int64

In [0]:
trees['SEGKEY'].value_counts()

2773     214
9126     145
2332     144
12554    127
9417     106
        ...
14592      1
17724      1
23406      1
19353      1
18917      1
Name: SEGKEY, Length: 12299, dtype: int64

In [0]:
trees['UNITTYPE'].value_counts()

TRE    94899
Name: UNITTYPE, dtype: int64

In [0]:
trees['OWNERSHIP'].value_counts()

PRIV     65992
SDOT     26690
PARK      1323
SEAC       771
SPU         55
SCL         48
FFD         11
OTHER        6
SPS          2
CJOTS        1
Name: OWNERSHIP, dtype: int64

In [0]:
trees['BOTANICAL_NAME'].value_counts()

ACRU      3594
ACPL      3441
CRLA80    3321
PRSE2     2849
PRCE      2799
          ...
LIJA         1
MAFU         1
TR           1
CRMO1        1
CULA1        1
Name: BOTANICAL_NAME, Length: 649, dtype: int64

In [0]:
trees['SCIENTIFIC_NAME'].value_counts()

Acer rubrum                       3594
Acer platanoides                  3441
Crataegus laevigata               3321
Prunus  `Kwanzan` (Sato Zakura    2849
Prunus cerasifera cv/hyb          2799
                                  ...
Cedrus libani                        1
Viburnum sp.                         1
Acer monspessulanum                  1
Ulmus rubra                          1
Pinus coulteri                       1
Name: SCIENTIFIC_NAME, Length: 647, dtype: int64

In [0]:
trees['HERITAGE'].value_counts()

N    94697
Y      201
Name: HERITAGE, dtype: int64

In [0]:
trees['EXCEPTIONAL'].value_counts()

N    94890
Y        8
Name: EXCEPTIONAL, dtype: int64

In [0]:
trees['CODEREQ'].value_counts()

N    91886
Y     3012
Name: CODEREQ, dtype: int64

In [0]:
trees['GSI'].value_counts()

N    94414
Y      484
Name: GSI, dtype: int64

In [0]:
trees['GREEN_FACTOR'].value_counts()

N    94421
Y      477
Name: GREEN_FACTOR, dtype: int64

In [0]:
trees['WIRES'].value_counts()

N    58508
Y    36390
Name: WIRES, dtype: int64

In [0]:
trees['CABLED'].value_counts()

N    94857
Y       41
Name: CABLED, dtype: int64

In [0]:
trees['CLEARANCE_PROBLEM'].value_counts()

N    88363
Y     6511
Name: CLEARANCE_PROBLEM, dtype: int64

In [0]:
trees['SPACETYPE'].value_counts()

GRASS        52709
             19201
OTHER        13228
PAVERS        2332
GROUND        1439
GRATE         1433
MULCH         1228
SOIL           912
GRAVEL         742
CGRATE         552
BARK           455
BRICK          350
PV-POLYMR      317
Name: SPACETYPE, dtype: int64

In [0]:
trees['SITETYPE'].describe()

count     91509
unique        8
top
freq      69161
Name: SITETYPE, dtype: object

In [0]:
trees['GROWSPACE'].describe()

count    94898.000000
mean        11.749615
std         19.231547
min          0.000000
25%          5.000000
50%          8.000000
75%         10.000000
max        810.000000
Name: GROWSPACE, dtype: float64

In [0]:
trees['DIAM'].describe()

count    94898.000000
mean         9.264431
std          7.880201
min          0.000000
25%          3.000000
50%          7.000000
75%         13.000000
max        117.000000
Name: DIAM, dtype: float64

In [0]:
trees['CONDITION_RATING'].value_counts()

4    29416
3    15077
4    12492
5    12464
3    10128
5     7163
2     3556
2     2262
1     1253
1      723
       364
Name: CONDITION_RATING, dtype: int64

In [0]:
trees['FUNDING_SOURCE'].value_counts()

PVT       62251
SDOT      20492
BTG        4844
UTRP       2570
DON        2155
OTHER      1115
PARKS       993
T4N         225
MOVSEA      102
SPU          86
NPF          65
Name: FUNDING_SOURCE, dtype: int64

In [0]:
trees['WATER_THROUGH_YR1'].value_counts()

0.0       92881
2009.0      596
2013.0      395
2010.0      288
2008.0      244
2011.0      153
2012.0       99
2014.0       96
2016.0       90
2015.0       29
1995.0       18
1996.0        3
2007.0        2
1998.0        2
1992.0        1
1991.0        1
Name: WATER_THROUGH_YR1, dtype: int64

In [0]:
trees['OWNERDIAM'].value_counts()

PRIV1    45036
PRIV2    17058
SDOT1    16301
SDOT2     9326
PRIV3     3719
SDOT3      924
PARK2      517
PARK3      456
x          396
PARK1      346
SEAC2      327
SEAC1      318
SEAC3      126
SCL1        28
SCL2        18
SCL3         2
Name: OWNERDIAM, dtype: int64

In [0]:
trees['EXPDATE'].value_counts()

Series([], Name: EXPDATE, dtype: int64)

In [0]:
trees['COMMON_NAME'].value_counts()

Red Maple                   3594
Norway Maple                3441
English Midland Hawthorn    3321
Kwanzan Flowering Cherry    2849
Purpleleaf Plum variety     2799
                            ...
Variegated Giant Dogwood       1
Catalina Ironwood              1
Chestnut Oak                   1
Hiba Arborvitae                1
Japanese Angelica Tree         1
Name: COMMON_NAME, Length: 649, dtype: int64

In [0]:
trees['TREEHEIGHT'].describe()

count    93065.000000
mean         0.149992
std          3.515848
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        148.000000
Name: TREEHEIGHT, dtype: float64

In [0]:
trees['ASBUILTPLANNO'].value_counts()

NDS 2015    49
211873      19
216657      18
200639      16
182980      16
            ..
43503.0      1
43505.0      1
18986        1
73560        1
73469.0      1
Name: ASBUILTPLANNO, Length: 1379, dtype: int64

In [0]:
trees['GENUS'].value_counts()

Acer          20168
Prunus        18416
Crataegus      5604
Malus          4986
Quercus        3936
              ...
Buddleja          1
Sambucus          1
Mahonia           1
Thujopsia         1
Eriobotrya        1
Name: GENUS, Length: 124, dtype: int64

In [0]:
trees.describe()

                   X              Y  ...    TOTAL_COUNT  UFMAINTMGMTUNIT
count  165545.000000  165545.000000  ...  164869.000000              0.0
mean     -122.336835      47.625917  ...   14850.982162              NaN
std         0.038159       0.056616  ...   14229.441138              NaN
min      -122.419024      47.495836  ...       1.000000              NaN
25%      -122.368949      47.576055  ...    2427.000000              NaN
50%      -122.335067      47.636915  ...    6723.000000              NaN
75%      -122.306102      47.672999  ...   28325.000000              NaN
max      -122.238583      47.734069  ...   35552.000000              NaN

[8 rows x 20 columns]